*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ebe5e5;
  
    font-family: Arial, Helvetica, sans-serif;
  
}

.header {


    width: 100%;
    height: 80px;
    background-color: #fff;
  /* position: fixed; */
   
   
   
   
   
}



.nav-logo {

    height: 45px;
    width: 50px;
    margin-top: 10px;
    margin-left: 134px;
border-radius: 60%;


}

.nav-left {



    width: 50%;
    float: left;
    display: flex;

}

.nav-right {


    width: 50%;
    float: left;
}

.nav-text {
    margin-left: 100px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
    display: flex;
    flex-direction: right;
    align-items: center;

    justify-content: space-between;
    padding-right: 20px;

}

.nav-text .menu-text {
    display: flex;
    align-items: center;
    margin-left: 20px;

}

.nav-text .menu-text a {
    padding: 0 35px;
    justify-content: space-between;


}

.nav-home {

    font-weight: bold;
    cursor: pointer;

}


.nav-home:hover{

transform: scale(1.2);


color: #1e3932;

}

.menu{
 
    cursor: pointer;

}
.menu:hover{
    transform: scale(1.2);


color: #1e3932;
}
.menu{

    cursor: pointer;

}
.menu:hover{
    transform: scale(1.2);


color: #1e3932;
}
.menu{

    cursor: pointer;

}
.menu:hover{
    transform: scale(1.2);


color: #1e3932;
}
.menu{

    cursor: pointer;

}
.menu:hover{
 transform: scale(1.2);
color: #1e3932;
}
.nav-search {


    width: 264px;
    height: 35px;
    border: 2px;
    border-color: #888;
    border-radius: 50px;
    margin-left: 300px;
    margin-top: 16px;
    text-align: left;

}

.nav-account {
    width: 36px;
    height: 36px;
    margin-left: 250px;
    margin-top: 16px;

}

.header-2 {

    width: 100%;
    height: 80px;
    background-color: #1e3932;
    margin-top: -20px;

}

.head2-text{


    color: #f9f9f9;
    margin-left: 110px;
    font-size: 20px;
    line-height: 24px;
   
    display: flex;
    margin-top: -18px;


}


.header-3 {


    width: 100%;
    float: left;
    height: 250px;
    background-color: #fff;
}

.head3-h2 {
margin-top: 20px;
    color: #000;
margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
    font-family: SoDoSans_Light, Helvetica, sans-serif;
    margin-left: 134px;
}

.head3-images img {

    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.head3-images {

    align-items: center;
    display: flex;
    margin-left: 50px;
    justify-content: space-around;
    border: 1px;
    cursor: pointer;

}




.head3-names {

    margin-top: 15px;

    font-size: 14;
    font-weight: bold;
    line-height: 21px;
    display: flex;
   



}

.names1 {

    margin-left: 130px;
}

.names2 {

    margin-left: 180px;
}

.names3 {
    margin-left: 200px;
}

.names4 {

    margin-left: 180px;
}

.names5 {

    margin-left: 140px;
}

.names6 {

    margin-left: 140px;
}

.barista {



    width: 100%;
    height: 316px;
    float: left;
    background-color: #edebe9;
}

.recommends {

    font-weight: bold;
    color: #1e3932;
    margin-left: 118px;
    font-size: 24px;



}

.view-menu {

    color: #00754a;
    font-size: 12.8px;
    margin-left: 60%;

    line-height: 11px;
    font-weight: bold;


}


.barista-head {

    margin-top: 35px;
    display: flex;


}

.leaf-head {

    width: 67px;
    height: 67px;
    margin-top: -33px;
    margin-left: 100px;
}

.img1-box {

    width: 350px;
    height: 150px;
    background-color: #fff;
    margin-left: 134px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
}

.img1 {

    width: 78px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 20px;
}
.img1:hover{

    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 

}
.veg1 {
    margin-top: 20px;
    margin-left: 10px;

}

.img1-name {

    font-size: small;
    font-weight: bold;
    margin-top: 40px;
    margin-left: -15px;


}

.price1-logo {


    width: 20px;
    height: 20px;
    margin-top: 116px;
    margin-left: -210px;
}

.price1 {

    width: 20px;
    font-weight: bold;
    height: 20px;


}

.add-item1 {
    margin-top: 100px;
    border-radius: 30px;
    background-color: #00754a;
    height: 32px;
    width: 96px;
    color: #fff;
    box-shadow: rgba(163, 163, 163, 0.68) 0px 4px 15px 0px;
    margin-right: 25px;
    cursor: pointer;
}
.add-item1:hover{
    background-color:#012018;
    color: #fff;
}

.img2-box {

    width: 350px;
    height: 150px;
    background-color: #fff;
    margin-left: 134px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
}

.img2 {

    width: 78px;
    height: 78px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 20px;
}
.img2:hover{

    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 

}

.veg2 {
    margin-top: 20px;
    margin-left: 10px;

}

.img2-name {

    font-size: small;
    font-weight: bold;
    margin-top: 40px;
    margin-left: -15px;


}

.price2-logo {


    width: 20px;
    height: 20px;
    margin-top: 116px;
    margin-left: -160px;
}

.price2 {

    width: 20px;
    font-weight: bold;
    height: 20px;


}

.add-item2 {
    margin-top: 100px;
    border-radius: 30px;
    background-color: #00754a;
    height: 32px;
    width: 96px;
    color: #fff;
    box-shadow: rgba(163, 163, 163, 0.68) 0px 4px 15px 0px;
    margin-left: 40px;
    cursor: pointer;
}
.add-item2:hover{
    background-color: #012018;
    color: #fff;
}

.barista-img {
    display: flex;


}

.img3-box {

    width: 350px;
    height: 150px;
    background-color: #fff;
    margin-left: 134px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
}

.img3 {

    width: 78px;
    height: 78px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 20px;
}
.img3:hover{

   
    transform: scale(1.2); 

}
.veg3 {
    margin-top: 20px;
    margin-left: 10px;

}

.img3-name {

    font-size: small;
    font-weight: bold;
    margin-top: 40px;
    margin-left: -15px;


}

.price3-logo {


    width: 20px;
    height: 20px;
    margin-top: 116px;
    margin-left: -210px;
}

.price3 {

    width: 20px;
    font-weight: bold;
    height: 20px;


}

.add-item3 {
    margin-top: 100px;
    border-radius: 30px;
    background-color: #00754a;
    height: 32px;
    width: 96px;
    color: #fff;
    box-shadow: rgba(163, 163, 163, 0.68) 0px 4px 15px 0px;
    margin-right: 25px;
    cursor: pointer;
}

.add-item3:hover{
    background-color: #012018;
    color: #fff;
}
.phase3{



    width: 100%;

    height: 380px;
    float: left;
    background-color: #fff;
   
}


.phase3-green{

    width: 80%;
    height: 250px;
    float: left;
    background-color: #009966;

    margin-left: 10%;
    margin-top: 55px;
border-radius: 10px;
}
.green3-img{

height: 250px;

}

.phase3-green{

    display: flex;
}
.green3-text{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
    padding-bottom: 12px;
    margin-top: 30px;
}

.green3-heading{

    font-weight: bold;
    font-size: 20px;
}
.ricon{

width: 23px;
height: 20px;
   
}
.green3rs{

    font-weight: bold;
    color: #fff;
}
.green3-price{


    display: flex;
}


.ordernow{


    height: 49px;
    width: 200px;
  border: none;
    border-radius: 30px;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    margin-top: 176px;
cursor: pointer;
}
.ordernow:hover{

color: #fff;
background-color: #000;

}


.footer{


    width: 100%;
    height: 600px;
    float: left;
    background-color: #0e382c;
  
}
.about{
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.aboutus{
    font-weight: bold;


}

.about3{
    font-size: smaller;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    line-height: 40px;
}

.footer-head{

    display: flex;
    justify-content: space-around;
    margin-top: 70px;

}
.Starbucks{
border-radius: 90%;
    width: 150px;
    height: 140px;
}
.responsibility{
    color: #fff;
    display: flex;
    flex-direction:column;
    justify-content: space-around;

}
.respo{
    font-weight: bold;

}
.respo4{

    font-size: smaller;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    line-height: 40px;
}

.quicklinks{
    color: #fff;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin-top: 10px;
   

}
.quick{
    font-weight: bold;

}
.quick5{
    font-size: smaller;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    line-height: 40px;
   

}
.socialmedia{

    color: #fff;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.social{
    font-weight: bold;
}
.social-logo{

   
    margin-bottom: 118px;
}
.download{
    display: flex;
    flex-direction:column;
    justify-content: space-around;


}
.bottom-line{

    width: 80%;
    height: 1px;
    background-color:#bbbbbb;
    margin-top: 100px;
    margin-left: 10%;
}
.bottom-left{
    width: 50%;

float: left;

}
.left-text{

    color: #bbbbbb;
    font-size: small;
    margin-top: 40px;
    margin-left: 138px;
    display: flex;
    justify-content: space-around;
}

.bottom-right{

    width: 50%;
    float: left;

}
.right-text{
    color: #bbbbbb;
    font-size: small;
    margin-top: 40px;
    margin-left: 294px;
}

.arrow{


    width: 20px;
    height: 20px;
   
    
}
.arrow-left{

    margin-left: 110px;
    margin-top: 68px;
    opacity: 30%;
}
.arrow-left:hover{

    transform: scale(1.2); 
    opacity: 100%;
}
.arrow-right{


    margin-left: -33px;
    margin-top: 62px;
}
.arrow-right:hover{

    transform: scale(1.2); 
    
}

.buynow{
    height: 32px;
    width: 100px;
  border: 1px solid;
    border-radius: 30px;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    
    margin-left: 85%;
cursor: pointer;
background-color: #1e3932;
color: #fff;
margin-top: 20px;
}
.buynow:hover{

    background-color: #fff;
    color: #1e3932;
    transform: scale(1.2); 
}




   

.h3-2:hover{

    transform: scale(1.3);
    border: 2px solid;
    color: #012018;
    
}
.h3-3:hover{

    transform: scale(1.3);
    border: 2px solid;
    color: #012018;
    
}
.h3-4:hover{

    transform: scale(1.3);
    border: 2px solid;
    color: #012018;
    
}
.h3-5:hover{

    transform: scale(1.3);
    border: 2px solid;
    color: #012018;
    
}
.h3-1:hover{
    transform: scale(1.3);
    border: 2px solid;
    color: #012018;
}
.h3-11:hover{
    transform: scale(1.3);
    border: 2px solid;
    color: #012018;
}